<% @title = 'アカウント情報編集' %>
<h1><%= @title %></h1>

<div class="row">
  <%= form_for(@staff_member, url: {action: :update}, html: {class: 'col s12'}) do |f| %>
    <div class="row">
  <div class="card-panel col s8 offset-s2">
    <div class="row">
      <div class="input-field col s12">
        <%= f.email_field :email, class: 'validate' %>
        <%= f.label :email %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :family_name %>
        <%= f.label :family_name %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :given_name %>
        <%= f.label :given_name %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :family_name_kana %>
        <%= f.label :family_name_kana %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :given_name_kana %>
        <%= f.label :given_name_kana %>
        </div>
    </div>
  </div>
</div>
    <div class='row'>
      <div class="col s12">
        <div class="center-align">
          <%= f.submit %>
          <%= link_to 'キャンセル', :staff_root %>
        </div>
      </div>
    </div>
  <% end %>
</div>