<div class="row">
	<div class="card-panel col s8 offset-s2">
		<div class="row">
			<div class="input-field col s12">
				<%= f.email_field :email, class: 'validate' %>
				<%= f.label :email %>
			</div>
			<div class="input-field col s12">
				<%= f.password_field :password %>
				<%= f.label :password %>
			</div>
			<div class="input-field col s6">
				<%= f.text_field :family_name %>
				<%= f.label :family_name %>
			</div>
			<div class="input-field col s6">
				<%= f.text_field :given_name %>
				<%= f.label :given_name %>
			</div>
			<div class="input-field col s6">
				<%= f.text_field :family_name_kana %>
				<%= f.label :family_name_kana %>
			</div>
			<div class="input-field col s6">
				<%= f.text_field :given_name_kana %>
				<%= f.label :given_name_kana %>
			</div>
			<div class="input-field col s12">
				<%= f.date_field :start_date %>
				<%= f.label :start_date %>
			</div>
			<div class="input-field col s12">
				<%= f.date_field :end_date %>
				<%= f.label :end_date %>
			</div>
			<div class="input-field col s12">
				<%= f.check_box :suspended %>
				<%= f.label :suspended %>
			</div>
		</div>
	</div>
</div>